* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: #000;
    color: #fff;
    background-color: #0b0318;
    background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ff0000' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  }
  
  a {
    color: goldenrod;
    text-decoration: none;
  }

  ul {
      list-style: none;
  }

  .container {
      width: 90%;
      margin: auto;
  }

  /*NAVIGATION*/

  .nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0; 
  }

  .Logo {
      width: 180px;
      margin-top: 50px;
      margin-left: -50px;
  }
  
  /*NAV RIGHT*/

  .nav-main ul {
      display: flex;
  }

  .nav-main ul a:hover {
      border-bottom: solid #fff;
  }

  .nav-main ul li {
      padding: 50px;
      font-size: 25px;
  }

  .nav-main ul.nav-menu {
      flex: 1;
      margin-left: 20px;
  }

  /*SHOWCASE*/

  .showcase {
      margin-top: 50px;
      width: 100%;
      height: 600px;
      background: url(../img/showcase.jpg) no-repeat center center/cover;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0);
      font-size: 30px;
      font-family: 'Black Ops One', cursive;
      
  }

  .btn {
      cursor: pointer;
      display: inline-block;
      border: 0;
      font-weight: bold;
      padding: 10px 20px;
      background: #000;
      font-size: 20px;
      border: 1px solid #fff;
      color: #fff;
      margin: 40px 0;
  }

  .btn:hover {
      opacity: .7;
  }

  /*CARDS*/

  .Cards {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 5px;
   margin-top: -25px;
   margin-left: 45px;
   margin-right: 10px;
 
  }

  .Cards img {
      margin-top: 100px;
      width: 90%;
      height: 400px;
  }
  
  .Cards p{
    font-family: 'Black Ops One', cursive;
    font-size: 25px;
    color: rgb(138, 189, 247);
    margin-bottom: -90px;
  }

  .Cards h3{
    font-family: 'Black Ops One', cursive;
    font-size: 35px;  
    color: goldenrod;
  }

  .Cards a {
      font-size: 25px;
      font-family:  'Black Ops One', cursive;
  }