canvas{
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: -50;
    margin-right: 10px;
    color: rgb(52, 165, 52);
}

body{
    background-color: #000;
    color: rgb(52, 165, 52);
    background-color: #0b0318;
    background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ff0000' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
a {
    color: goldenrod;
    text-decoration: none;
  }

  ul {
      list-style: none;
  }

  .container {
      width: 90%;
      margin: auto;
  }

   /*NAVIGATION*/

   .nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0; 
    }
  
    .Logo {
        width: 180px;
        margin-top: 55px;
        margin-left: -50px;
    }
    
    /*NAV RIGHT*/
  
    .nav-main ul {
        display: flex;
    }
  
    .nav-main ul a:hover {
        border-bottom: solid #fff;
    }
  
    .nav-main ul li {
        padding: 50px;
        font-size: 25px;
    }
  
    .nav-main ul.nav-menu {
        flex: 1;
        margin-left: 20px;
    }
  
